{

    "users":[
        {
            "login":"{{adm_login}}",
            "password":"{{adm_password}}"
        },

        {
            "login":"test",
            "password":"test"
        }
    ]
}