{

    "users":[
        {
            "login":"{{adm_login}}",
            "password":"{{adm_password}}",
            "key":"test_data"
        },

        {
            "login":"test",
            "password":"test",
            "key":"test_data"
        }
    ]
}